# Programming Assignment - 23

Q.1 : Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [16]:
# A.1 :

def is_symmetrical(num) :
    temp = num
    sum = 0
    while num > 0 :
        rem = num % 10
        sum = (sum*10) + rem
        num = num // 10
    if sum == temp :
        return True
    else :
        return False
is_symmetrical(1112111)

True

Q.2 : Given a string of numbers separated by a comma and space, return the product of the
numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [18]:
# A.2 :

def multiply_nums(string) :
    i = 0
    prod = 1
    while i < len(string) :
        prod = prod * int(string[i])
        i += 3
    return prod
multiply_nums('1, 2, 3, 4, 5')

120

Q.3 : Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [2]:
# A.3 :

def square_digits(number) :
    number = str(number)
    lst = []
    lst.extend(number)
    i,string2 = 0,''
    while i < len(lst) :
        square = int(lst[i]) * int(lst[i])
        string2 = string2 + str(square)
        i += 1
    return int(string2)
square_digits(2483)

416649

Q.4 : Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [6]:
# A.4 :

def setify(lst1) :
    set1 = set(lst1)
    lst1 = list(set1)
    lst1.sort()
    return lst1
setify([3,3,3,2,1])

[1, 2, 3]

Q.5 : Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).

 The mean will always be an integer.

In [4]:
# A.5 :

def mean(value) :
    count = 0
    sum = 0
    while value > 0 :
        rem = value % 10
        sum = sum + rem
        value = value // 10
        count = count + 1
    mean = sum // count
    return mean
mean(12345)

3